.recomendation-sect {
  margin: 12px auto 32px;
  overflow-x: scroll;
  padding: 40px;
  width: 90vw;
}

.photos-sect {
  display: flex;
  justify-content: space-evenly;
  margin-right: 40px;
  transform: translate(115%);
  width: 80%;
}

.recomendation-sect button {
  margin: 12px;
  width: 50%;
}

.recomendation-img {
  height: fit-content;
  max-width: 100px;
  object-fit: cover;
  width: fit-content;
}

.start-btn {
  bottom: 0;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  width: 50%;
}
