.details-sect, .progress-sect {
  align-items: center;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100vw;
}

.details-header {
  background-color: var(--main-color-darker);
  border-radius: 8px;
  padding: 16px;
  position: relative;
}

.details-title {
  font-size: 2rem;
  text-align: center;
}

.details-food-img {
  border-radius: 16px;
}

.like-share-sect {
  bottom: 4px;
  display: flex;
  position: absolute;
  right: 16px;
}

.copy-btn, .like-btn {
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 1.2rem;
  margin: 4px;
}

.copy-btn:hover, .like-btn:hover, .copy-btn:active, .like-btn:active {
  color: var(--accent);
}

.details-subtitle, .progress-subtitle {
  border-bottom: 1px solid var(--secondary-color);
  margin: 8px;
  padding: 8px;
  text-align: center;
  width: 90%;
}

.ingredients-list-dets {
  margin: 8px;
  padding: 8px;
}

.ingredients-list-dets li {
  list-style-position: inside;
  margin: 6px;
}

.instructions {
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin: 8px 0 28px;
  text-align: justify;
  width: 85%;
}

video {
  margin: -8px auto 16px;
  width: 85%;
}

.recomendation-sect {
  background-color: var(--main-color-darker);
  border-radius: 8px;
  box-shadow: inset 0 0 8px var(--secondary-color-lighter);
  margin: 12px auto 32px;
  overflow-x: auto;
  padding: 40px;
  width: 90vw;
}

.photos-sect {
  display: flex;
  justify-content: space-evenly;
  margin-right: 40px;
  transform: translateX(195%);
  width: 80%;
}

.recomendation-sect button {
  background-color: var(--main-color);
  border: none;
  border-radius: 8px;
  margin: 12px;
  width: 200px;
}

.recomendation-img {
  border-radius: 8px;
  height: 150px;
  margin-bottom: 8px;
  width: 150px;
}

.recomendation-img ~ p {
  margin-bottom: 8px;
}

.start-btn, .progress-btn {
  background-color: var(--accent);
  border: none;
  border-radius: 8px;
  bottom: 8px;
  box-shadow: 0 0 8px var(--secondary-color-lighter);
  color: var(--main-color);
  cursor: pointer;
  left: 50%;
  padding: 8px 16px;
  position: fixed;
  transform: translateX(-50%);
  width: 50%;
}

.start-btn:hover, .progress-btn:hover {
  background-color: var(--main-color-darker);
  color: var(--accent);
}

.start-btn:active, .progress-btn:active {
  background-color: var(--secondary-color);
  color: var(--main-color);
}
