.cat-search-sect {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 130px;
  justify-content: center;
  padding: 8px;
  width: 100vw;
}

.cat-btn {
  background-color: var(--main-color-darker);
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 8px var(--secondary-color-lighter);
  font-size: 1.1rem;
  margin: 8px 8px 12px;
  min-width: 75px;
  padding: 4px 8px;
}
