.ing-checkbox-sect {
  display: flex;
  flex-direction: column;
  margin: 8px auto 0;
  padding: 8px;
}

.ing-checkbox-sect label {
  align-items: center;
  display: flex;
  font-size: 1.1rem;
  line-height: 2rem;
}

.ing-checkbox-sect label input {
  accent-color: var(--secondary-color-lighter);
  height: 16px;
  margin: 10px;
  width: 16px;
}

.checked {
  text-decoration: line-through;
}

.progress-btn:disabled {
  background-color: var(--main-color);
  box-shadow: 0 0 4px var(--secondary-color-lighter);
  color: var(--accent);
  cursor: not-allowed;
}
