:root {

  --main-color: #edd9a3;

  --main-color-darker: #ff9c38;

  --secondary-color: #540303;

  --secondary-color-lighter: #ad564b;

  --accent: #322e4e;
}

* {
  box-sizing: border-box;
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--accent);
  color: var(--main-color);
}

body {
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.main-sect {
  align-items: center;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100vw;
}

.header-sect {
  margin-bottom: 12px;
  width: 100vw;
}

.content-sect {
  margin-bottom: 80px;
}

.react-icon {
  color: var(--secondary-color);
  font-size: 1.8rem;
}
